# Mac
.DS_Store

# PyCharm
.idea/

results/
*__pycache__*
*.pyc

# Files
*.pt
*.h5
*.png
*.pth
*.ckpt
*.tar.gz
*tmp
*.tar
/docs/build/
/onebitcs/
/experimental/
/deepinv/datasets/reside/
deepinv/version.py
/saved_models/
venv
build
deepinv.egg-info
dist
datasets
wandb/
kernels
measurements/
degradations/
datasets/
results/

