# Mac
.DS_Store

# PyCharm
.idea/

# VSCode
.vscode/

*__pycache__*
*.pyc

# Files
*.pt
*.h5
*.pth
*.ckpt
*.tar.gz
*.gz
*-ubyte
*tmp
*.tar
*.ipynb

# Folders
/docs/build/
/docs/source/auto_examples/
/docs/source/gen_modules/
/docs/source/**/stubs/*

# Miscellaneous
/experimental/
/datasets
examples/*/datasets
deepinv/version.py
/saved_models/
venv
build
deepinv.egg-info
dist
wandb/
kernels/
measurements/
degradations/
results/
tmp/
sg_execution_times.rst
