include *.rst
include *.md
include *.in
include LICENSE
include deepinv/__init__.py

recursive-include examples *.py
recursive-include examples *.txt
recursive-include deepinv *.py

### Exclude

exclude .gitignore
exclude Makefile
exclude *.yml
exclude .mailmap
recursive-exclude deepinv *.pyc
recursive-exclude examples *
recursive-exclude deepinv/tests *
recursive-exclude .github/ *

recursive-exclude docs *
