name: GPU Docs

on:
  schedule:
    - cron: "30 2 */1 * *"
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      run_gpu_tests:
        description: "PR number to test"
        required: true
        type: boolean

concurrency: # Cancel in-progress runs when pushing a new commit on the PR
  group: ${{ github.workflow }}-pr-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    name: Check examples and docs run on GPU
    if: github.event.inputs.run_gpu_tests == true
    runs-on: gpu
    env:
      DEEPINV_MOCK_TESTS: "True"
      UV_CACHE_DIR: "/local/jtachell/.cache/uv"
      WORKING_DIR: "/local/jtachell"

    steps:
      - uses: actions/checkout@v5

      # See https://docs.astral.sh/uv/guides/integration/github
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          version: "0.8.22"
          python-version: "3.11"
          cache-local-path: ${{ env.UV_CACHE_DIR }}

      - name: Set up Python
        run: |
          uv python install
          uv run python --version

      - name: Install the project
        run: uv sync --extra dataset --extra denoisers --extra test --extra training --extra doc

      - name: Check installed packages
        run: |
          uv pip list

      - name: Check import
        run: |
          uv run python -c "import deepinv"

      - name: Sphinx build
        run: |
          uv run python -m sphinx docs/source _build

      - name: Run doctests
        env:
          SPHINX_DOCTEST: "1"
        run: |
          uv run python -m sphinx.cmd.build -M doctest docs/source docs/build -D plot_gallery=0 -v
