name: Auto Publish to PyPI

on:
  workflow_dispatch:        # manual trigger
    inputs:
      bump_type:
        description: 'Type of version bump'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major
          - dev # for debugging

permissions:
  contents: write
  pull-requests: write
  issues: write
  
  
jobs:
  build-test-publish:
    name: Auto version, test & publish
    runs-on: ubuntu-latest

    env:
      # Configure a constant location for the uv cache
      UV_CACHE_DIR: /tmp/.uv-cache

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'  # minimum supported version

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Restore uv cache
        uses: actions/cache@v4
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}

      - name: Install tools
        run: |
          uv pip install --upgrade tomlkit

      - name: Update changelog
        id: changelog
        run: |
          python .github/scripts/get_latest_changelog.py ./docs/source/changelog.rst pyproject.toml ${{github.event.inputs.bump_type}}

      - name: Bump version
        id: bump
        run: |
          python .github/scripts/bump_version.py pyproject.toml ${{github.event.inputs.bump_type}}
          echo "version=$(python .github/scripts/get_version.py pyproject.toml)" >> "$GITHUB_OUTPUT"

      - name: create PR with changes
        if: ${{ github.event.inputs.bump_type != 'dev' && success() }}
        uses: peter-evans/create-pull-request@v7
        with:
          branch: release-branch
          title: "Release v${{ steps.bump.outputs.version }}"
          body: |
            This automatic PR updates the version to v${{ steps.bump.outputs.version }} and updates the changelog.
            Please merge this PR to finalize the release.
          commit-message: "Release v${{ steps.bump.outputs.version }}"
          add-paths: |
            pyproject.toml
            ./docs/source/changelog.rst
          base: main
          labels: release
          delete-branch: true
    
      - name: Create Github release
        if: ${{ github.event.inputs.bump_type != 'dev' && success() }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.bump.outputs.version }}
          body_path: changelog.txt
          name: Release v${{ steps.bump.outputs.version }}
          files: dist/*

      - name: Minimize uv cache
        run: uv cache prune --ci
