name: Test GPU

on:
  schedule:
    - cron: "30 2 */1 * *"
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      run_gpu_tests:
        description: "whether to run or not"
        required: true
        type: boolean

concurrency: # Cancel in-progress runs when pushing a new commit on the PR
  group: ${{ github.workflow }}-pr-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    if: github.event.inputs.run_gpu_tests == true
    name: Test GPU
    runs-on: gpu
    env:
      DEEPINV_MOCK_TESTS: "True"
      UV_CACHE_DIR: "/local/jtachell/.cache/uv"
      WORKING_DIR: "/local/jtachell"

    steps:
      - uses: actions/checkout@v5

      # See https://docs.astral.sh/uv/guides/integration/github
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          version: "0.8.22"
          python-version: "3.11"
          cache-local-path: ${{ env.UV_CACHE_DIR }}

      - name: Set up Python
        run: |
          uv python install
          uv run python --version

      - name: Install the project
        run: uv sync --extra dataset --extra denoisers --extra test --extra training

      - name: Check installed packages
        run: |
          uv pip list

      - name: Check import
        run: |
          uv run python -c "import deepinv"

      - name: Test with pytest
        run: |
          uv run python -m pytest -n 2 --dist=loadgroup
