name: Test

on:
  schedule:
    # run test every day at 3:30 AM
    - cron: "30 3 */1 * *"
  push:
    branches:
    - main
  pull_request:
    branches:
    - main


# Cancel in-progress runs when pushing a new commit on the PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: Test deep inverse ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Test with all dependencies
          - os: ubuntu-latest
            version_python: 3.9
            extra: dataset,denoisers,test
            name: "ubuntu all dependencies"
          # Test with all dependencies
          - os: windows-latest
            version_python: 3.9
            extra: dataset,denoisers,test
            name: "windows all dependencies"
    env:
      DEEPINV_MOCK_TESTS: "True"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version_python }}
          cache: 'pip' # caching pip dependencies
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
      - name: Install deepinv and its dependencies
        run: |
          uv pip install .[${{ matrix.extra }}]

      - name: Test with pytest and generate coverage report
        run: |
          python3 -m pytest -n 2 --dist=loadgroup --cov=deepinv --junitxml=junit.xml -o junit_family=legacy -v
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
